################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/TP8_GRUPO_10/packages/System.Security.Cryptography.ProtectedData.4.7.0/ref/xamarinmac20
/TP8_GRUPO_10/packages/System.Security.Cryptography.ProtectedData.4.7.0/ref/xamarinmac20/_._
/.gitignore
